.MainHeader {
	width: 100%;
	background-color: #fff;
}
.MainHeader_Text{
	font-size: 12px;
	position: relative;
}
.MainHeader_MenuBlock {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
	white-space: nowrap;
}

.MainHeader_Text.Link:not(:last-child){
	font-size: 12px;
	margin-right: 30px;
}
.Container{
	display: grid;
	grid-template-columns: repeat(5,minmax(0,1fr));
	position: relative;
	align-items: center;
	height: 80px;
}

//Top Header
.MainHeader_LogoBlock img{
	vertical-align: middle;
	min-width: 150px;
	max-width: 195px;
}
.MainHeader_InfoBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: auto/span 4;
	min-width: 0;
}
.MainHeader_CityBlock {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	button{
		background: none;
		cursor: pointer;
		margin-right: 30px;
	}
}
//

//Bottom Header
.MainHeader_BottomHeader{
	justify-content: normal;
	align-items: flex-end;
}
.MainHeader_Catalog {
	height: 100%;
	max-width: 150px;
	border: 1px solid;
	border-color:rgb(255, 153, 0);
	border-radius: 10px 10px;
}
.MainHeader_Catalog:hover {
	border-color:rgb(255, 153, 0);
	background-color: rgb(255, 153, 0);
	.CatalogMenuText{
		color: white;
		background-color: rgb(255, 153, 0);
	}
}

.MainHeader_BottomHeader_CatalogBlock {
	height: 45%;
	grid-column: auto/span 1;
	min-width: 0;
	text-align: center;
}
.CatalogMenuText{
	height: 100%;
	font-size: 16px;
	cursor: pointer;
	background-color: white;
	color:rgb(255, 136, 0);
}
.CatalogLink {
	height: inherit;
	width: inherit;
}
.MainHeader_Text.Link {
	font-size: 12px;
	background: none;
}
.MainHeader_BottomHeader_ActionBlock,.MainHeader_MenuBlock,.MainHeader_SearchBlock {
	display: flex;
}
.MainHeader_BottomHeader_ActionBlock{
	grid-column: auto/span 4;
	align-items: flex-end;
	min-width: 0;
};
.MainHeader_SearchBlock {
	position: relative;
	flex-direction: row;
	font-size: 16px;
	display: inline-block;
	margin: 0 20px 0 0;
}
.InputBox_Input {
	width: 100%;
	border-bottom: 1px solid #dfdfe1;
}
.InputBox_Icon {
	position: absolute;
	right: 0;
	.MainHeader_Text.Link{
		margin-right: 0px;
	}
}
.MainHeader_BottomHeader.Container{
	align-items: center;
	.MainHeader_MenuBlock{
		margin-left: auto;
		margin-right: 0;
		.MenuBlock_IconText{
			font-size: 14px;
			align-items: center;
			margin-right: 20px;
		}
		.MenuBlock_IconText.Last-Child{
			margin-right: 0px;
		}
	}
}

//

//Mini Header
.MiniHeaderContainer{
	display: grid;
	grid-template-columns: repeat(3,minmax(0,1fr));
	position: relative;
	align-items: center;
	.MiniHeader_Button{
		background-color: white;
	}
}
.MainHeader_MiniHeader{
	.MainHeader_LogoBlock {
		margin-left: auto;
		margin-right: auto;
	}
}
.MiniHeader_SearchBlock{
	margin-left: auto;
	margin-right: 0;
	.MainHeader_Form{
		margin-right: 30px;
	}
	.InbutBox_Icon{
		position: relative;
	}
}
//