@import "_media", "_header", "_main", "_footer";
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: inherit;
	font-size: 100%;
}
body,html{
	font-family: PTRootUI-Regular, sans-serif;
	font-size: 18px;
	line-height: 1.44;
	color: black;
}
body{
	width: 100%;
	overflow-x: hidden;
	
}
footer{
	background: #f5f5f6;
}
.MainLayaot {
	min-height: 100vh;
	max-width: 1500px;
	display: flex;
	flex-direction: column;
}
.Link{
	outline: none;
	cursor: pointer;
	transition: color .1s ease;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
.Link:hover{
	color:rgb(255, 153, 0);
}
.page-footer{
	background-color: blue;
}